@model film
@{
    Layout = "_MainLayout";
}
<div class="text-center">
    <div>
        <img src="@Url.Content("~/Grafiki/" + Model.PlakatUrl)" alt="Opis obrazka" width=200 />
        <p>@Model.Rezyser</p>
        <p>@Model.Opis</p>
        <p>@Model.DataDodania</p>
    </div>
</div>
