@using System.Collections
@model IEnumerable<Zaj1.Models.Kategoria>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model != null)
    {
        foreach (var kategorie in Model)
        {
                    <p></p>
        }
    }
    else
    {
            <p>Brak dostępnych kategorii.</p>
    }
</div>


